.mobile-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

main {
    position: relative;
    top: 42vh;
    display: flex;
    text-align: left;
}

.title {
    position: absolute;
    font-size: 40px;
    left: 0.5em;
    bottom: 62vh;
}

.subtitle {
    position: relative;
    top: 24em;
    left: 1em;
}

.success {
    position: relative;
    top: 30vh;
    display: none;
}

.success-show {
    display: initial;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    top: 30em;
}

input[type="email"] {
    margin-bottom: 2vh;
}

input[type="email"],button {
    padding: 0.85em 3.5em;
    border-radius: 5px;
}

button {
    padding-left: 2.7em;
    padding-right: 2.7em;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
}

ul {
    position: relative;
    list-style: none;
    top: 36em;
}

li {
    position: relative;
    bottom: 7em;
    right: 1.7em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
}

li img {
    width: 7%;
    margin-right: 1em;
}

form {
    position: relative;
    left: 2.5em;
    margin-top: 2em;
}

.form-title {
    margin-right: 6.5em;
    font-size: 12px;
}

.success h3 {
    font-size: 35px;
}

.success p {
    width: 80%;
}

.success h3,.success p,.success img {
    margin-left: 0.9em;
}

.success button {
    position: absolute;
    top: 63vh;
    left: 10vw;
    width: 80vw;
}

.hide {
    display: none;
}

.form-error {
    border: 1px solid hsl(4, 100%, 67%);
}

.error-msg {
    color: hsl(4, 100%, 67%);
    font-size: 12px;
}

.title-div {
    position: relative;
    top: 32em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1440px) {
    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: initial;
        position: absolute;
        top: 0;
        right: 15vw;
    }

    main {
        position: absolute;
        top: 25vh;
        left: 0;
    }

    body {
        background-color: hsl(235, 18%, 26%);
    }

    header, main {
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    header {
        padding-right: 140em;
    }
}